<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title>Activation</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Activation</h1>
    <section>
      <p><%= m %></p>
    </section>
    <% include include/footer %>
  </body>

</html>
