<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title>Chefs cuisiniers</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Chefs cuisiniers</h1>
    <section>
      <% if (result.rowCount == 0) { %>
      <p>Aucun chef cuisinier n'est actuellement dans notre base de donnée.</p>
      <% } else {
	 for (var i = 0; i < result.rowCount; i++) { %>
	 <a href="/profil.html?id=<%= result.rows[i].id %>"><%= result.rows[i].prenom %> <%= result.rows[i].nom %></a>
	 <% } } %>
    </section>
    <% include include/footer %>
  </body>

</html>
