<!DOCTYPE html>
<html>
    <head>
        <% include include/head %>
        <title>YaKasserole</title>
    </head>

    <body>
        <% include include/header %>
        <div id="accueil">
            <div id="prez">
                <a id="goto_inscription" href="">
                    Rapide</br>et</br>gratuit</br>
                    <span>S'inscrire maintenant</span>
                </a>

                <a id="premium" href="">
                    <h2>PREMIUM</h2>
                        Abonnement</br>
                        <div class="prem_block"><span class="big">10%</span></br>de reduction</div>
                    <div class="prem_block">Ateliers jusque</br><span class="big">4</span></br>personnes</div>
                </a>

                <h2>Qui sommes-nous ?</h2>
                <p>
                    YaKasserole propose des ateliers cuisine. Inscrivez-vous et reservez en ligne pour apprendre la cuisine.</br>
                    Devenez un as de la cuisine et impressionez votre famille et vos amis !
                </p>

                <div id="buttons">
                    <a class="button" id="button1" href="">Nos recettes</a>
                    <a class="button" id="button2" href="">Nos ateliers</a>
                    <a class="button" id="button3" href="">Les chefs</a>
                </div>
            </div>

            <div class="title_block">
                <h2>Meilleures Recettes</h2>
                <p>sdfasdas</p>
            </div>
            <div class="title_block">
                <h2>Meilleurs Ateliers</h2>
                <p>fdsdfsd</p>
            </div>
        </div>
        <% include include/footer %>
    </body>
</html>
