<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <title>Premium</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Premium</h1>
    <section>
      <form action="/cb.html?premium=nom" method="post" >
        <input type="submit" value="Prendre un abonnement premium" />
      </form>
   </section>
   <% include include/footer %>
  </body>

</html>
