<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Connexion</title>
  </head>

  <body>
    <% include include/header %>
    <h1>Profil : </h1>
    <section>
      <p>Prénom : <%= user.prenom %>        Nom : <%= user.nom %></p>
      <p>Adresse Postale : <%= user.adresse %> </p>
    </section>
  </body>

</html>
