html
{
}

body
{
    background-color: #e8e8e8;
    margin: auto;
    max-width: 1000px;
    min-width: 550px;
    border-left: 1px black solid;
    border-right: 1px black solid;
}


/* HEADER */

header
{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    min-height: 155px;
    border-bottom: solid 4px black;
}

header #buttons
{
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

header #account
{
    height: 50px;
}

header #logo
{
    height: 125px;
    width: 170px;
    margin-top: 10px;
}

#connexion, #inscription, #logout, #profil, #admin
{
    background-color: #dcdcdc;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 4px solid black;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    padding-top: 15px;

    vertical-align: top;
}

#connexion:hover, #inscription:hover, #logout:hover, #profil:hover, #admin:hover
{
    height: 50px;
    padding-top: 25px;
    text-decoration: none;
}

#admin:hover
{
    padding-top: 20px;
}


#connexion, #logout
{
    margin-left: 5px;
    border-color: #672020;
    color: #672020;
}

#inscription, #profil
{
    color: black;
}

#admin
{
    padding-top: 10px;
    color: #be3627;
    width: 50px;
}

header ul
{
    right: 0px;
    display: inline-block;
    background-color: #672020;
    vertical-align: bottom;
    border: #dcdcdc solid 3px;
}

header #menu
{
    border: black 4px solid;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 48px;
}

header ul li
{
    height: 34px;
    padding-top: 7px;
    padding: none;
}

header ul li a
{
    display: inline-block;
    width: 140px;
    text-align: center;
    color: #dcdcdc;
    margin: none;
}

header ul li:hover a
{
    height: 32px;
    text-decoration: none;
    color: #672020
}

header ul li:hover
{
    background-color: #e58271; 
}

header #hello
{
    text-align: left;
    font-size: 1.4em;
    color: black;
}

/* BODY  */

body #messageOK, body #messageKO
{
    margin: 15px;
    padding: 10px;
    background-color: #84d581;
    border: 1px solid #438641;
    color: #438641;
}

body #messageKO
{
    background-color: #c98982;
    border: 1px solid #be3627;
    color: #be3627;
}

/* FOOTER */

footer
{
    padding: 30px;
    padding-left: 80px;
    background-color: #a44141;
    margin-top: 20px;

    background-image: url(resources/line2.png), url(resources/line1.png);
    background-repeat: repeat-y, repeat-x;
    background-position: left, top;
}

footer ul
{
    padding-left: 0;
    padding-right: 40px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}


footer a
{
    color: #e5e5e5;
}

footer h1
{
    color: #e5e5e5;
    font-size: 1.3em;
}

/* SECTION */
