html
{
    background-color: #bc3535;
}

body
{
    background-color: white;
    margin: auto;
    max-width: 1200px;
    min-width: 940px;
    border-left: 3px #eeeeee solid;
    border-right: 3px #eeeeee solid;
}

a
{
    color: #672020;
}

a:hover
{
    text-decoration: none;
    color: #a44141;
}

input
{
    background-color: white;
    border: none;
    outline: none;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.1em;
    color: black;
}

input:hover, input:focus
{
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
    background-color: #bc3535;
    color: white;
}

label
{
    min-width: 100px;
    letter-spacing: 0.1em;
}

#body form
{
    margin: 20px;
    padding: 20px;
    background-color: #ffbb6b;
    color: #bc3535;
    border: #bc3535 1px solid;
}

button
{
    padding: 7px;
    background-color: white;
    color: black;
    letter-spacing: 0.1em;
    border: 1px solid #bc3535;
}

button:hover
{
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
    background-color: #bc3535;
    color: white;
}

/* HEADER */

header
{
    border-radius: 0px 0px 0px 60px;
    background-color: blue;
    background-image: url(resources/ban2.jpg);
    background-position: top 300px;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    position: relative;
    min-height: 155px;
}

header #buttons
{
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

header #account
{
    height: 50px;
}

header #logo
{
    display: inline-block;
    height: 125px;
    width: 170px;
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    left: 0px;
    -webkit-transition: -webkit-transform 2s;
    transition: transform 5s;
}

header #logo:hover
{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#connexion, #inscription, #logout, #profil, #admin, #research
{
    background-color: rgba(116, 100, 96, 0.7);

    display: inline-block;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    padding-top: 15px;

    vertical-align: top;

    -webkit-transition: padding-top 1s, height 1s;
    transition: height 1s, padding-top 1s;
}

#connexion:hover, #inscription:hover, #logout:hover, #profil:hover, #admin:hover
{
    height: 50px;
    padding-top: 25px;
    text-decoration: none;
}

#admin:hover
{
    padding-top: 20px;
}

#admin img
{
    -webkit-transition: -webkit-transform 5s;
    transition: transform 5s;
}

#admin:hover img
{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#research
{
    background: none;
    border: none;
    width: 400px;
    padding: 3px;
    text-align: left;
    -webkit-transition: none;
    transition: none;
}

#research #search
{
    border: 1px solid /*#dbbc3b*/ white;
    border-radius: 5px 0px 5px 0px;
    width: 300px;
    height: 38px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(255, 219, 69, 0.7);
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    outline: 0;
    color: white;
}

#research #search:focus
{
    background-color: rgba(255, 219, 69, 0.9);
}

#research #ok, #research #ok:active
{
    background-color: rgba(255, 255, 255, 0.7);
    outline: 0;
    width: 38px;
    height: 38px;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    background-image: url(resources/search.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    -webkit-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

#research #ok:hover
{
    background-color: #e58271;
}

#connexion, #logout
{
    margin-left: 5px;
    border-color: /*#e74646*/ white;
    color: white;
    background-color: rgba(231, 70, 70, 0.7);
}

#inscription, #profil
{
    color: white;
    background-color: rgba(255, 151, 48, 0.7);
    border-color: /*#ff8105*/ white;
}

#admin
{
    padding-top: 10px;
    color: #be3627;
    width: 50px;
    border-color: white;
}

header ul
{
    margin-top: 15px;
    right: 0px;
    display: inline-block;
    background-color: rgba(188, 53, 53, 0.7);
    vertical-align: bottom;
    border: white /*#953737*/ solid 1px;
    border-radius: 5px 0px 5px 0px;
}


header ul li
{
    height: 34px;
    padding-top: 7px;
    padding: none;
    -webkit-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

header ul li a
{
    display: inline-block;
    width: 130px;
    text-align: center;
    color: white;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    margin: none;
}

header ul li:hover a
{
    height: 32px;
    text-decoration: none;
    color: white;
}

header ul li:hover
{
    background-color: #e58271; 
}

header #hello
{
    text-align: left;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: white;
}

/* BODY  */

body #messageOK, body #messageKO
{
    margin: 15px;
    padding: 10px;
    background-color: #84d581;
    border: 1px solid #438641;
    color: #438641;
}

body #messageKO
{
    background-color: #c98982;
    border: 1px solid #be3627;
    color: #be3627;
}

/* FOOTER */

footer
{
    padding: 30px;
    padding-left: 80px;
    background-color: #a41616;
    margin-top: 20px;

    background-image: url(resources/line2.png), url(resources/line1.png);
    background-repeat: repeat-y, repeat-x;
    background-position: left, top;
}

footer ul
{
    padding-left: 0;
    padding-right: 40px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}


footer a
{
    color: #e5e5e5;
    letter-spacing: 0.1em;
}

footer h1
{
    color: #e5e5e5;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

footer a:hover
{
    color: #ff8309;
}

/* SECTION */

#body
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    min-height: 700px;
}

#body h1
{
    background-color: #a41616;
    color: #e5e5e5;
    padding: 10px;
    padding-left: 80px;
    background-image: url(resources/line2.png);
    background-repeat: repeat-y;
    background-position: left;
    font-size: 1.5em;
}


/* PRESENTATION SITE */

#accueil
{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -1px;
    text-align: center;
}

#prez
{
    text-align: left;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    background-image: url(resources/line3.png), url(resources/line4.png);
    background-repeat: repeat-y;
    background-position: left 20px, right;
    min-height: 200px
}

#prez h2
{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: black;
    margin-left: 60px;
}

#prez p
{
    max-width: 500px;
    margin-left: 60px;
}

#accueil #premium
{
    display: block;
    position: absolute;
    top: 0px;
    right: 120px;
    border: 1px solid #c15013;
    border-radius: 0px 0px 5px 5px;
    border-top: 0;
    margin-top: 1px;
    width: 200px;
    height: 120px;
    background-color: #ffa43a;
    color: white;
    text-align: center;

    -webkit-transition: height 1s;
    transition: height 1s;
}

#accueil #premium:hover
{
    height: 140px;
    color: white;
}

#accueil #premium h2
{
    margin: 0;
    height: 30px;
    background-color: #ffdb45;
    color: #ff8309;
    padding: 3px;
    font-size: 1.5em;
    -webkit-transition: padding-top 1s, height 1s;
    transition: padding-top 1s, height 1s;
}

#accueil #premium:hover h2
{
    padding-top: 23px;
    height: 50px;
}

#accueil #premium .prem_block
{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    color: #c15013;
    margin-top: 5px;
    line-height: 17px;
    font-size: 0.9em
}

#accueil #premium .prem_block .big
{
    font-size: 1.6em;
    font-weight: bold;
}

#accueil #goto_inscription
{
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;

    width: 100px;
    height: 120px;
    border: 1px solid #672020;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    background-color: #bc3535;
    color: #e3e3e3;
    padding-top: 5px;
    text-align: center;

    -webkit-transition: padding-top 1s, height 1s;
    transition: padding-top 1s, height 1s;
}

#accueil #goto_inscription:hover
{
    height: 140px;
    padding-top: 25px;
}

#accueil #goto_inscription span
{
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: #db5c5c;
    border-radius: 0px 0px 5px 5px;
}

#accueil #prez #buttons
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#accueil #prez .button
{
    display: inline-block;
    border: 1px solid #bc4545;
    border-radius: 10px 0px 10px 0px;
    height: 60px;
    width: 250px;
    margin-right: 5px;
    color: white;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

#accueil #prez .button:hover
{
    border-color: #ffdb45;
}

#accueil #prez .button .title
{
    display: inline-block;
    background-color: rgba(188, 69, 69, 0.6);
    height: 100%;
    width: 100px;
    padding: 15px;
}

#accueil #prez .button:hover .title
{
    background-color: rgba(255, 219, 69, 0.6)
}

#accueil #prez #button1
{
    background-image: url(resources/miam1.png)
}

#accueil #prez #button2
{
    background-image: url(resources/miam2.png)
}

#accueil #prez #button3
{
    background-image: url(resources/miam3.png)
}

.title_block
{
    margin: 3px;
    width: 49%;
    display: inline-block;
    border: 2px solid #db5c5c;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    padding-bottom: 5px;
    background-color: white;
}

.title_block h2
{
    margin: 0;
    padding: 6px;
    padding-left: 10px;
    background-color: #bc3535;
    border-radius: 1px 1px 0px 0px;
    color: #e5e5e5;
    font-size: 1.1em;
    letter-spacing: 0.3em;
    text-align: left;
}

.title_block p
{
    margin: 10px;
    letter-spacing: 0.1em;
}

.title_block ul, .list ul
{
    list-style: none;
    padding: 0;
    margin: 10px;
}

.title_block li, .list li
{
    margin-bottom: 10px;
    text-align: left;
    display: block; 
}

.title_block li a, .list li a
{
    display: block;
    background-color: #ffdb45;
    transition: background-color 1s, color 1s;
    -webkit-transition: background-color 1s, color 1s;
}

.title_block li a:hover, .list li a:hover
{
    background-color: #fff080;
}

.title_block h3, .list h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_block .description, .list .description
{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.title_block img, .list img
{
    height: 113px;
    border-left: 4px solid black;
}


/* RECETTE ATELIER */

#recette, #atelier, #premium_page, #profil_page
{
    background-color: #ffdb45;
    padding: 20px;
    margin-bottom: 20px;
}

#recette .date
{
    text-align: right;
    font-weight: bold;
    font-size: 0.9em;
}

#recette .field, #atelier .field, #profil_page .field
{
    font-weight: bold;
}

/* PROFIL */

#profil_page #profil_img
{
    height: 250px;
    max-width: 400px;
    float: left;
    border: 1px white solid;
    margin-right: 20px;
    margin-bottom: 20px;
}

#profil_page .just_button
{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

#profil_page .just_button input
{
    margin: 0;
}





