html
{
}

body
{
    background-color: #e8e8e8;
    margin: auto;
    max-width: 1200px;
    min-width: 940px;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

a
{
    color: #672020;
}

a:hover
{
    text-decoration: none;
    color: #a44141;
}

input
{
    background-color: white;
    border: 1px solid black;
}

/* HEADER */

header
{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    min-height: 155px;
    border-bottom: solid 4px black;
}

header #buttons
{
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

header #account
{
    height: 50px;
}

header #logo
{
    display: inline-block;
    height: 125px;
    width: 170px;
    margin-top: 10px;
    position: absolute;
    left: 0px;
}

#connexion, #inscription, #logout, #profil, #admin, #research
{
    background-color: #dcdcdc;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 4px solid black;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    padding-top: 15px;

    vertical-align: top;
}

#connexion:hover, #inscription:hover, #logout:hover, #profil:hover, #admin:hover
{
    height: 50px;
    padding-top: 25px;
    text-decoration: none;
}

#admin:hover
{
    padding-top: 20px;
}

#research
{
    background: none;
    border: none;
    width: 400px;
    margin-top: 5px;
    padding: 3px;
    text-align: left;
}

#research #search
{
    border: 4px solid #672020;
    width: 300px;
    height: 38px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #dcdcdc;
    outline: 0;
}

#research #ok, #research #ok:active
{
    background-color: white;
    outline: 0;
    width: 38px;
    height: 38px;
    border: 4px solid #672020;
    border-radius: 15px 15px 15px 15px;
    background-image: url(resources/search.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
}

#research #ok:hover
{
    background-color: #e58271;
}

#connexion, #logout
{
    margin-left: 5px;
    border-color: #672020;
    color: #672020;
}

#inscription, #profil
{
    color: black;
}

#admin
{
    padding-top: 10px;
    color: #be3627;
    width: 50px;
}

header ul
{
    right: 0px;
    display: inline-block;
    background-color: #672020;
    vertical-align: bottom;
    border: #dcdcdc solid 3px;
}

header #menu
{
    border: black 4px solid;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 48px;
}

header ul li
{
    height: 34px;
    padding-top: 7px;
    padding: none;
}

header ul li a
{
    display: inline-block;
    width: 130px;
    text-align: center;
    color: #dcdcdc;
    margin: none;
}

header ul li:hover a
{
    height: 32px;
    text-decoration: none;
    color: #672020
}

header ul li:hover
{
    background-color: #e58271; 
}

header #hello
{
    text-align: left;
    font-size: 1.4em;
    color: black;
}

/* BODY  */

body #messageOK, body #messageKO
{
    margin: 15px;
    padding: 10px;
    background-color: #84d581;
    border: 1px solid #438641;
    color: #438641;
}

body #messageKO
{
    background-color: #c98982;
    border: 1px solid #be3627;
    color: #be3627;
}

/* FOOTER */

footer
{
    padding: 30px;
    padding-left: 80px;
    background-color: #a44141;
    margin-top: 20px;

    background-image: url(resources/line2.png), url(resources/line1.png);
    background-repeat: repeat-y, repeat-x;
    background-position: left, top;
}

footer ul
{
    padding-left: 0;
    padding-right: 40px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}


footer a
{
    color: #e5e5e5;
}

footer h1
{
    color: #e5e5e5;
    font-size: 1.3em;
}

/* SECTION */

#body
{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: solid 4px black;
    padding-bottom: 20px;
    min-height: 700px;
}

#body h1
{
    background-color: #a44141;
    color: #e5e5e5;
    padding: 10px;
    padding-left: 80px;
    background-image: url(resources/line2.png);
    background-repeat: repeat-y;
    background-position: left;
    font-size: 1.5em;
}


/* PRESENTATION SITE */

#accueil
{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -1px;
    text-align: center;
}

#prez
{
    text-align: left;
    border: 1px solid black;
    padding-left: 60px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    background-image: url(resources/line3.png), url(resources/line4.png);
    background-repeat: repeat-y;
    background-position: left 20px, right;
    min-height: 200px
}

#prez h2
{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: black;
}

#accueil #premium
{
    display: block;
    position: absolute;
    top: 0px;
    right: 70px;
    border: 4px solid #c15013;
    border-radius: 0px 0px 20px 20px;
    border-top: 0;
    margin-top: 1px;
    width: 200px;
    height: 120px;
    background-color: #ffbb6b;
    color: black;
}

#accueil #premium:hover
{
    height: 140px;
    color: black;
}

#accueil #premium h2
{
    margin: 0;
    height: 30px;
    background-color: #ffdb45;
    color: #ff8309;
    padding: 3px;
    font-size: 1.5em;
}

#accueil #premium:hover h2
{
    padding-top: 23px;
    height: 50px;
}

#accueil #premium .prem_block
{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    color: #c15013;
    margin-top: 5px;
    line-height: 17px;
}

#accueil #premium .prem_block .big
{
    font-size: 1.6em;
    font-weight: bold;
}

.title_block
{
    margin: 3px;
    width: 49%;
    display: inline-block;
    border: 4px solid #db5c5c;
    border-radius: 15px 15px 15px 15px;
}

.title_block h2
{
    margin: 0;
    padding: 6px;
    padding-left: 10px;
    background-color: #a44141;
    border-radius: 9px 9px 0px 0px;
    color: #e5e5e5;
    font-size: 1.1em;
    letter-spacing: 0.3em;
    text-align: left;
}
