<!-- <!DOCTYPE html> -->

</div>
<footer>
    <h1>Acces Rapide</h1>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="">Recettes</a></li>
        <li><a href="">Ateliers</a></li>
        <li><a href="">Profil</a></li>
    </ul>

    <ul>
        <li><a href="">Mentions legales</a></li>
        <li><a href="">Contactez-nous</a></li>
        <li><a href="">Questions frequentes</a></li>
    </ul>
</footer>
