<!-- <!DOCTYPE html> -->

</div>
<footer>
    <h1>Acces Rapide</h1>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="recettes.html">Recettes</a></li>
        <li><a href="ateliers.html">Ateliers</a></li>
        <li><a href="profil.html">Profil</a></li>
    </ul>

    <ul>
        <li><a href="">Mentions legales</a></li>
        <li><a href="">Contactez-nous</a></li>
        <li><a href="">Questions frequentes</a></li>
    </ul>
</footer>
