<!-- <!DOCTYPE html> -->

<div id="hohoho">
<p>TCHING TCHANG TCHONG</p>
<img src="resources/hohoho.png" />
</div>


<header>
    <div id="buttons" class="pull-right">
        <a href="/"><img src="resources/logo.png" class="pull-left" id="logo"/></a>
        <div id="account">
            <form id="research"  action="recherche.html" method="post" />
                <p>
                    <input type="text" id="search" placeholder="Rechercher" required />
                    <input type="submit" id="ok" name="ok" value=" "/>
                </p>
            </form>
    <%
	if (user) {
    %>
	        <a href="/logout.html" id="logout">LOGOUT</a>
            	<a href="/profil.html" id="profil">PROFIL</a>

	      <%
		if (user.role != "chef_cuisinier") {
	      %>
		    <a href="/admin.html" id="admin"><img src="resources/key.png" /></a>	
	      <%
	        }
	      %>
    <%
	}
	else
	{
    %>
	        <a href="/connexion.html" id="connexion">CONNEXION</a>
	        <a href="/inscription.html" id="inscription">INSCRIPTION</a>
    <%
	}
    %>
        </div>

        <div id="menu">
        <ul class="list-inline">
            <li><a href="../">ACCUEIL</a></li>
            <li><a href="/ateliers.html">ATELIERS</a></li>	
            <li><a href="/recettes.html">RECETTES</a></li>
	    <li><a href="/premium.html">PREMIUM</a></li>
            <li><a href="">A PROPOS</a></li>
        </ul>
        </div>

        <p id="hello">
        <% if (user) { %>
        Bonjour <%= user.prenom %> !
        <% } else { %>
        Bienvenue chez YaKasserole !
        <% } %>
        </p>

    </div>

</header>

<% if (msgKO) { %>

<p id="messageKO"><%= msgKO %></p>

<% } else if (msgOK) { %>

<p id="messageOK"><%= msgOK %></p>

<% } %>

<div id="body">
