<header>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%
	if (user) {
    %>
        <p>Hello <%= user.prenom %> !</p>
	<p><a href="/logout.html">Logout</a></p>
        <p><a href="/profil.html">Profil</a></p>
	

	      <%
		if (user.role != "chef_cuisinier") {
	      %>
		<p><a href="/admin.html">Admin</a></p>
		
	      <%
	        }
	      %>
    <%
	}
	else
	{
    %>
	    <p><a href="/connexion.html">Connexion</a></p>
	    <p><a href="/inscription.html">Inscription</a></p>

    <%
	}
    %>

    <ul>
        <li><a href="../">Accueil</a></li>
        <li><a href="/ateliers.html">Ateliers</a></li>	
        <li><a href="/recettes.html">Recettes</a></li>
	<li><a href="">Premium</a></li>
        <li><a href="">A propos</a></li>
    </ul>


    <%
    if (msgKO) {
    %>
        <p><%= msgKO %></p>
    <%
    }
    else if (msgOK)
    {
    %>
        <p><%= msgOK %></p>
    <%
    }
    %>
</header>
